.question__container{
  margin: 10px auto 20px;
  max-width: 1200px;
  text-align: center;
  border: #3a3a3a 1px solid;
  border-radius: 10px;
}

.question__margin{
  margin-bottom: 5px;
}

.mat-elevation-z0{
  border-radius: 10px;
}

.question__navigate{
  display: flex;
  justify-content: space-between
}

.question__actions{
  display: flex;
  justify-content: space-between;
  &-categories{
    display: inline-block
  }
}

.question__comments{
  display: flex;
  text-align: center;
  margin: 2px;
  &-user{
    width:20%;
  }
  &-comment{
    width: 65%;
    text-align: start;
  }
  &-decision{
    width:15%
  }
}

.green{
  color: green;
}

