<div class="question__container">

  <mat-card class="mat-elevation-z0 " *ngIf="question$ | async as question; else loading">
    <mat-card-content>
      <div class="question__navigate" >
        <div>
          <button mat-raised-button routerLink='/dashboard' >Back</button>
        </div>

        <div>{{question.user}}</div>
        <div>{{question.date | date:'medium'}}</div>
      </div>

      <mat-card-title>{{question.title}}</mat-card-title>

    </mat-card-content>
    <mat-card-content class="ql-editor">
      <div [innerHtml]='sanitaizer.bypassSecurityTrustHtml(question.text)'></div>
    </mat-card-content>
    <mat-card-actions class="question__actions">
      <div >
        <div *ngFor="let category of question.tags" class="question__actions-categories">
          <button mat-button >{{category}}</button>
        </div>

      </div>
      <div>
        <button mat-button (click)=" isApproved()" *ngIf="!question.isApproved">Approve</button>
        <button mat-button (click)="deleteQuestion()">Delete</button>
        <button mat-button [routerLink]="['/question', question.id,'edit']">Edit</button>
      </div>
    </mat-card-actions>


    <!--COMMENTS BLOCK-->
<!--    !!!!!!!!!!ADD COMMENT START-->
    <mat-card class="mat-elevation-z0 question__container">
      <mat-card-content>
        Comments
      </mat-card-content>
      <form [formGroup]="formAddComment" (ngSubmit)="addComment()" class="question__form">
        <div>
          <div class="question__margin">
            <label for="text"><sub>Add your comment</sub></label>
            <quill-editor formControlName="text" id="text"></quill-editor>
            <div *ngIf="formAddComment.controls['text'].touched && formAddComment.controls['text'].invalid">
              <small *ngIf="formAddComment.controls['text'].errors?.required">Enter your comment</small>
            </div>
          </div>
          <button type="submit" mat-raised-button color="primary"
                  [disabled]="formAddComment.invalid || isSubmitted"> Add comment
          </button>
        </div>
      </form>
      <!--    !!!!!!!!!!ADD COMMENT STOP-->

      <!--    !!!!!!!!!!PARSE COMMENTS START-->
      <div *ngFor="let comment of question.comments; let i = index">
        <mat-card  class="ql-editor question__comments">
          <div class="question__comments-user" >
            {{comment.user}}<br>
            {{comment.date | date:'medium'}}
          </div>

          <div class="question__comments-comment" >
            <div [innerHTML]="sanitaizer.bypassSecurityTrustHtml(comment.text)"></div>
          </div>
          <div class="question__comments-decision"  *ngIf="comment.isDecision">
            <mat-icon aria-hidden="false">done</mat-icon>
          </div>
          <div class="question__comments-decision" *ngIf="!comment.isDecision">
            <button mat-raised-button (click)="addDecision(i)" >Add to decision</button>
          </div>
        </mat-card>
      </div>
      <!--    !!!!!!!!!!PARSE COMMENTS STOP-->


    </mat-card>

  </mat-card>

</div>


<ng-template #loading >
  <mat-spinner></mat-spinner>
</ng-template>
