<mat-toolbar color="primary" class="navbar">
  <div>

    <a mat-button class="font" routerLink="/dashboard"><i class="fa fa-coffee"></i> StackClone</a>
  </div>
  <div *ngIf="!authService.getUserInfo()">
    <a mat-button routerLink="/sign-in">Sign In</a>
    <a mat-button routerLink="/sign-up">Sign Up</a>
  </div>
  <div *ngIf="authService.getUserInfo()">
    <a mat-button routerLink="/add-question">ADD QUESTION</a>
    <button mat-button [matMenuTriggerFor]="menu">{{userInfo.name||'User'}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user">User Info</button>
      <button mat-menu-item (click)="logOut()">Sign Out</button>
    </mat-menu>

  </div>
</mat-toolbar>

<router-outlet> </router-outlet>
