
.question {
  &__form {
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    padding: 10px;
    max-width: 1200px;
    text-align: center;
    margin: auto;
  }

  &__margin {
    margin-bottom: 10px;
  }

  &__tags{
    display: inline-block;
    padding: 10px;
  }
  &__input{
    margin:auto;
  }
}

li {
  display: inline-block;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

input{
  width: 99%
}
