.center{
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
  height: auto;
  margin-bottom: 5px;
}
span {
  padding-right: 1rem;
}

.font{
  font-size:30px
}

.add-button{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.question__content{
  max-width: 1200px;
  margin: auto;
  padding: 16px;
  mat-card{
    width: 260px;
  }


}

