<mat-toolbar color="primary" class="navbar">
  <div>

    <button mat-button [matMenuTriggerFor]="filters">Filters</button>
    <mat-menu #filters="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">

      <mat-select [formControl]="categories" multiple>
        <mat-option *ngFor="let category of categoriesList" [value]="category">{{category}}</mat-option>
      </mat-select>

      <button mat-menu-item>Item 2</button>
    </mat-menu>


  </div>
  <div>

    field2
  </div>
  <div>
    settings
  </div>

</mat-toolbar>

<div *ngIf="questions$ | async as questions" class="question__content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid" >
      <app-question *ngFor="let question of questions" [question]="question" fxFlex="25%" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%">
      </app-question>
  </div>

</div>

<div class="add-button">
  <button mat-fab aria-label="Add question" routerLink="/add-question">
    <mat-icon>add</mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
