<mat-toolbar color="primary" class="navbar">
  <div>

    <button mat-button [matMenuTriggerFor]="filters">Filters</button>
    <mat-menu #filters="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">

              <mat-select [formControl]="categories" multiple>
                <mat-option *ngFor="let category of categoriesList" [value]="category">{{category}}</mat-option>
              </mat-select>

            <button mat-menu-item>Item 2</button>
    </mat-menu>




  </div>
  <div>

цдвалптжцва
  </div>
  <div>
  settings
  </div>

</mat-toolbar>

<router-outlet> </router-outlet>
