<mat-toolbar color="primary" class="navbar">
  <div (click)="filtersMenu()">
    <button mat-button>
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button (click)="sortingDesc = true">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-button (click)="sortingDesc = false">
      <mat-icon>arrow_downward</mat-icon>
    </button>

  </div>

  <div>
    <button mat-button value="grid" aria-label="Grid viewType" (click)="setModeView('grid')">
      <mat-icon>grid_view</mat-icon>
    </button>
    <button mat-button value="row" aria-label="Row viewType" (click)="setModeView('row')">
      <mat-icon>calendar_view_day</mat-icon>
    </button>

  </div>

</mat-toolbar>

<mat-toolbar color="primary" class="navbar flex" *ngIf="isFiltersShow" >
  <div>
    <section class="example-section" [formGroup]="checkboxCategories">
      <h4>Select your categories:</h4>
      <div *ngFor="let category of categoriesList" class="question__tags">
        <p>
          <mat-checkbox [formControlName]="category">{{category}}</mat-checkbox>
        </p>
      </div>
    </section>
  </div>


  <div>
    <div>
      <label id="time-group">Time filter:</label>
      <mat-radio-group
        aria-labelledby="time-group-label"
        class="time-group"
        [(ngModel)]="timeSelect">
        <mat-radio-button class="time-group-button" *ngFor="let period of timeCategories" [value]="period.days">
          {{period.period}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div>
    <div>
      <label id="with-decision">Has decision?</label>
      <mat-radio-group
        aria-labelledby="time-group-label"
        class="time-group"
        [(ngModel)]="decisionSelect">
        <mat-radio-button class="time-group-button" *ngFor="let cat of decisionCategories" [value]="cat">
          {{cat}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div>
    <div>
      <label id="my-question">Is my question?</label>
      <mat-radio-group
        aria-labelledby="time-group-label"
        class="time-group"
        [(ngModel)]="myQuestionSelect">
        <mat-radio-button class="time-group-button" *ngFor="let cat of myQuestionCategories" [value]="cat">
          {{cat}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div *ngIf="isAdmin">
    <div>
      <label id="moderated">On moderation?</label>
      <mat-radio-group
        aria-labelledby="time-group-label"
        class="time-group"
        [(ngModel)]="onModerationQuestionSelect">
        <mat-radio-button class="time-group-button" *ngFor="let cat of onModerationQuestionCategories" [value]="cat">
          {{cat}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="flex flex-column">
    <button mat-raised-button aria-label="Save filter" (click)="filtersMenu()" class="time-group" > Save filter
    </button>
    <button mat-raised-button aria-label="Save filter" (click)="ngOnInit(); filtersMenu()" > Reset filter</button>
  </div>
</mat-toolbar>

<div *ngIf="questions$ | async as questions" class="question__content" >
  <div fxLayout="row wrap" fxLayoutGap="16px grid" >
    <app-question *ngFor="let question of questions
                  |filters: checkboxCategories.value : timeSelect : decisionSelect : myQuestionSelect : onModerationQuestionSelect
                  |sort: 'date' : sortingDesc "
                  [question]="question" [view]="viewType" fxFlex.xs="100%"
                  [fxFlex]="(viewType==='grid') ? '25%': '100%'"
                  [fxFlex.md]="(viewType==='grid') ? '33%': '100%'"
                  [fxFlex.sm]="(viewType==='grid') ? '50%': '100%'"
                  (onChanged)="onChanged()" (categoryChanged) = "addCategoryToFilter($event)">
    </app-question>
  </div>
</div>


<div class="add-button">
  <button mat-fab aria-label="Add question" routerLink="/add-question">
    <mat-icon>add</mat-icon>
  </button>
</div>

